<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-label>Spitze</ion-label>
        <ion-note slot="end" color="danger"> {{ peak }} </ion-note>
    </ion-item>
    <ion-item>
        <ion-label>Dauer</ion-label>
        <ion-note slot="end" color="danger"> {{ duration }} </ion-note>
    </ion-item>
    <ion-item>
        <ion-label>Gesamt</ion-label>
        <ion-note slot="end" color="danger"> {{ total }} </ion-note>
    </ion-item>
  </ion-list>
  <canvas *ngIf="lineChartData" baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
  [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
  [plugins]="lineChartPlugins"></canvas>
</ion-content>
